html, body, ul, li, p{
    margin: 0;
    padding: 0;
}


html{
    background-image: url(/portfolio.git/img/phon.jpg);
    background-size: cover;
}

body{
    padding: 60px;
}


.wrapper{   
    margin: 0 auto; 
    max-width: 1024px; /* max-wight - адаптивность*/
    height: inherit; 
    
}
header{
    
    height: 100px; 
    width: 1024;
    margin: 0 auto; 
    padding: 10px;
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.349);
}



h1{
    color:rgb(17, 2, 27);
}

main{
    
    height: 430px; 
    width: 1024;
    margin: 0 auto; 
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.349);
}
.text{
    width: 45%;
}

.text {
    float: left;
    
}

.massage__block{
    width: 45%;
}

.text img{
    width: 150px;
    margin-right: 10px;
    float: left
    
}
.massage__block{
    float: right;
 
}
h2 {
    margin-left: 10px; 
    color:rgb(17, 2, 27);
}

p{
    margin-left: 10px;
    color:rgb(26, 16, 63);
    font-weight:550;
    font-size: 18px;
    font-style:unset;
    text-align: justify;
    
    
}

input, textarea
{
  box-shadow: 0 0 5px 5px rgb(150, 135, 144);
  background: lightgrey;
}  


footer{
   
    height: 200px;
    background-color:  rgba(255, 255, 255, 0.349);

}
footer p{
    text-align: center;
    font-size: 24px;
    
}
footer a {
    color:darkblue;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    display: inline-block;
    text-align: center;
    font-size: 30px;
    width: 46px;
    height: 46px;
    color: white;
    text-decoration: none;
    transition: opacity .1s linear, tranform .1s linear;
    position:relative;
    align-items: center;
}
.icon--facebook{
    background-color: rgb(35, 35, 77);

}
.icon--vk{
    background-color: rgb(160, 160, 211);
}
.icon--github{
    background-color: rgb(35, 35, 77);
}
.icon--youtube{
    background-color:  rgb(160, 160, 211);
}
.icon--twitter{
    background-color:  rgb(35, 35, 77);
}
.icon--linkedin{
    background-color:  rgb(160, 160, 211);
}
.icon :hover {
    filter: contrast(1.1);
    transform: scale(1.1);
}